table {
  min-width: 300px;
}

td, th {
  padding: 0.2rem;
}

thead th {
  background-color: #ccc;
}

.pessoa td {
  background-color: #ddd;
}

.filho td{
  background-color: #eee;
}

.filho .nome{
  padding-left: 1rem;
}

.adicionarFilho td {
  text-align: center;
  vertical-align: sub;
  height: 2rem;
}

.dados {
  float: left;
}
